html{
  font-family: 'Open Sans', sans-serif;
  height:100vh;
  
}
input{
  width: 3vw;
  height: 3vh;
}
#gamegrid{
  margin-left:31vw;
  margin-top: 20vh;
}
.fixed{
  background-color: limegreen;
  
}
.general{
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}
.wrong{
  background-color:rosybrown;
  
}
#congratulations{

  width:70vw;
  height:80vh;
  margin:auto;
  margin-left:20vh;
  
  }
#mainMassege{
  padding-top:20vh;
  width:60%;
  margin:auto;
  
}
h1,p,h3{
  text-align: center;
}
#mainpage{
    
    width: 60vw; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-top:5vh;
    background-color: #DCDCDC;

}
#main_screen_button{
  display:block;
  width: 60vw; 
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin-top:2vh;
}
#main_screen_button2{
  display:block;
  width: 60%; 
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin-top:2vh;
}
#register{
  width: 60vw; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    
}
#register_form{
  display:block;  
  width:50%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
h3{
  margin-top:5vh;
  margin-bottom: 6vh;
}
#welcomescreen{
  display:inline-block;
  float:left;
  margin-top: 20vh;
  margin-left:5vh;
 }
#welcomescreen h1{
  font-size:5vh;
}
#mainpage2{
    
  width: 100vw;  
  background-color: #DCDCDC;
}
#register2{
  width: 60vw; 
  float:right;
  margin-top:15vh;
  margin-right:5vh;
}